.timer {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
}

.digits {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 15rem;
	color: #565164;
}

.mili-sec{
	color: #92b395;
}

@media (min-width: 280px) and (max-width: 375px){
	.digits {
		font-size: 65px;
	}
}

@media (min-width: 376px) and (max-width: 767px){
	.digits {
		font-size: 80px;
	}
}

@media screen and (min-width: 768px){
	.digits {
		font-size: 180px;
	}
}